* {
  margin: 0px;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0px; padding: 0px;
  max-width: 100vw;
}

#grafico {
  width: 90vw;
  max-height: 200px;
}

#equacao {
  padding: 0.2em;
}

table, div {
  margin: 0 auto 0 auto;
  text-align: center;
}

th, input {
  text-align: left;
  font-size: .8em;
}

p, label {
  font-size: .8em;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

button {
  margin: 0.5em 0 0.5em 0;
  height: 2em;
}

a {
  text-decoration: none;
}
